body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #414648;
  }

  .rounded-t-5 {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  @media (min-width: 992px) {
    .rounded-tr-lg-0 {
      border-top-right-radius: 0;
    }

    .rounded-bl-lg-5 {
      border-bottom-left-radius: 0.5rem;
    }
  }

  .card{
    
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    
  }
  .card-text{
padding:10px;
  }


  .navbar{
    background-color: #f4f5f5;
    color: rgb(120, 109, 109);
    font-size: 16px;
    font-weight: bold;

  }
  .navbar-brand{
    font-size: 25px;
    font-weight: bold;
    color: #00B7FF;
  }
#form-box{
  width: 60%;
  margin:20%;
  margin-top: 40px;
}

#email{
margin-top: 30px;
  width:250px;
  margin-left: 30px;
}
#password{
  width:250px;
  margin-left: 30px;
  margin-bottom: 30px;
}
.form-check{
  position: relative;
  left: 30px;
 
}

#forgot{
  position: relative;
  left: 160px;
  bottom : 27px;
}
#button{
 margin-left: 120px;
}

#image{
height: 380px;
width:320px;
margin-top: -1px;
}

#apple{
  margin-bottom: 20px ;
}

#samsung{
  margin-bottom: 20px ;
}
#iqoo{
  margin-bottom: 20px ;
}

#oneplus{
  margin-bottom: 20px ;
}
